.footer-section {
    background: #002B5A;
    color: black;
    padding-top: 60px;
}

.footer-section-grid {
    display: flex;
    gap: 3rem;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.footer-section-col {
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.footer-section-col h4 {
    color: white;
    margin-bottom: 1rem;
    font-size: 35px;
}

.footer-section-logo {
    color: white;
    font-size: 40px;
    margin-bottom: 1rem;
}

.footer-section-about {
    color: white;
    margin-bottom: 1.5rem;
}

.footer-section-social-links {
    display: flex;
    gap: 1rem;
}

.footer-section-social-links a {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    transition: all 0.3s ease;
}

.footer-section-social-links a:hover {
    background: var(--primary-color);
    transform: translateY(-3px);
}

.footer-section-links {
    list-style: none;
    padding: 0;
}

.footer-section-links li {
    margin-bottom: 0.8rem;
}

.footer-section-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section-links a:hover {
    color: var(--primary-color);
}

.footer-section-bottom {
    border-top: 2px solid white;
    padding: 2rem;
    margin: 0px 20px;
}

.footer-section-bottom .container {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 15px;
}

.footer-section-legal-links a {
    color: #94a3b8;
    margin-left: 2rem;
    text-decoration: none;
}

.footer-section-legal-links a:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .footer-section-grid {
        grid-template-columns: 1fr;
    }

    .footer-section-bottom .container {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footer-section-legal-links a {
        margin: 0 1rem;
    }
}

@media (max-width: 480px) {
    .footer-section {
        padding: 2rem 0 0;
    }

    .footer-section-grid {
        display: flex;
        gap: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .footer-section-col {
        margin-bottom: 1.5rem;
    }

    .footer-section-logo {
        font-size: 20px;
    }

    .footer-section-about {
        font-size: 15px;
    }

    .footer-section-social-links a {
        width: 25px;
        height: 25px;
    }

    .footer-section-col h4 {
        font-size: 20px;
    }

    .footer-section-bottom .container {
        font-size: 10px;
    }
}