
   :root {
    --font-family-sans: 'Roboto Slab';
  }
   
  body {
    font-family: "Roboto Slab";

  }
   
   a {
     text-decoration: none; /* Remove underlines from links by default */
     color: inherit; /* Allow links to inherit text color */
   }
   
   ul,
   ol {
     list-style: none; /* Remove default list styles */
   }
   
